* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-image: url(https://d39l2hkdp2esp1.cloudfront.net/img/photo/140991/140991_00_2x.jpg);
    background-size: cover;
    min-height: 100vh;
}

nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: rgb(114, 38, 38);
    margin-top: 1em;
}

nav li {
    padding: 1em;
}

nav li a {
    color: rgb(114, 38, 38);
    text-decoration: none;
    font-size: .8em;
    text-transform: uppercase;
}

.nav-logo {
    font-size: 1.5em;
    width: 2em;
}

main {
    position: relative;
}

.main-text {
    margin-left: 10vw;
    padding: 7.5em 0 5em;
    width: 75%;
}

.main-text h1 {
    color: brown;
    font-size: 5em;
    margin: 0;
}

.main-text h2 {
    color: #f4c72b;
    font-size: 1.5em;
    margin: 1em 0;
    text-transform: uppercase;
}

.main-text button {
    background: #fff;
    padding: 1em;
    text-transform: uppercase;
    color: brown;
    border: none;
    position: relative;
}

.main-text button::after {
    content: ">";
    background-color: #f4c72b;
    color: white;
    padding: 1em;
    position: absolute;
    top: 0;
    right: -2.5em;
    font-weight: 700;
}