* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-image: url(https://images.pexels.com/photos/960137/pexels-photo-960137.jpeg);
    background-size: cover;
    min-height: 100vh;
}

nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: white;
    margin-top: 1em;
}

nav li {
    padding: 1em;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: .8em;
    text-transform: uppercase;
}

.nav-logo {
    font-size: 1.5em;
    width: 2em;
}